@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(,/fonts/Roboto-Thin);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(./fonts/Roboto-LightItalic.ttf);
}

.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-Regular';
    min-height: 100vh;
    overflow-y: scroll;
}

.main-header {
    background-color: #1f2937;
    display: flex;
    flex:2;
    flex-direction: column;
    padding: 2% 10% 2%;
}

.header-small-subheading {
    align-items: center;
    display: flex;
    flex: 1;
}

.header-links-wrapper {
    display: flex;
    flex: 1;
    font-family: 'Roboto-Thin';
    justify-content: space-between;
}

.header-links {
    font-size: 18px;
    padding: 0 10px;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-logo {
    color: #F9FAF8;
    flex:1;
    font-size: 24px;
}

.header-large-subheading {
    align-items: center;
    background-color: #1f2937;
    display: flex;
    flex: 10;
    justify-content: space-between;
}

.main-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.sub-heading {
    color: #E5E7EB;
    font-family: 'Roboto-Thin';
    font-size: 18px;
    margin-bottom: 10px;
}

.header-intro {
    align-items: flex-start;
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    padding: 0 10%;
}

.header-image {
    display: flex;
    padding: 2% 5%;
}

.header-image > img{
    height: auto;
    min-height: 0;
    width: 100%;
}

.login-button {
    color: #E5E7EB;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 10px;
    font-size:18px;
    padding: 5px 20px;
}

.main-content {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.content-text {
    align-items: center;
    color: #1f2937;
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    margin: 5% 0;
}

.content-images {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1f2937;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'Roboto-LightItalic';
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    margin-top: 5%;
    padding: 2% 10%;
}

.quote-para {
    align-self: self-end;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

figure {
    margin: 0;
}

figcaption {
    color: #1f2937;
    text-align: center;
}

.content-images > figure> img {
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 25px;
    width: 20vw;
}

.subscribe-button {
    align-items: center;
    align-self: center;
    background-color: #3882f6;
    border-radius: 13px;
    color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    width: 60%;
}

.subscribe-button >div {
    padding: 20px;
}

.pricing-button {
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    border: 2px solid #E5E7EB;
    font-size: 10px;
    margin: 13px;
    text-decoration: none;
}

.main-footer {
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
}

.main-footer >div {
    padding: 20px;
}

.intro-main-content {
    display: flex;
    flex-direction: column;
}

.intro-main-content >figure {
    align-self: center;
}

.intro-content {
    color: #1f2937;
    display: flex;
    font-family: 'Roboto-Regular';
    font-size: 18px;
    justify-content: center;
    padding: 5% 5% 0 5%;
}

.intro-main-content >image {
    border: 2px solid #3882f6;
    border-radius: 25px;
    height: auto;
    width: 20vw;
} 



